.theme-transition * {
	transition: all 500ms ease;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

input,
button,
textarea,
select {
	font: inherit;
}

::selection {
	background-color: var(--mirtilo);
	color: var(--lavender);
}

:root {
	--spacecadet: #28283e;
	--redsalsa: #96122f; /*modified*/
	--lavender: #e7dada;
	--mirtilo: #535394;
	--green: #0f6d46;
	--transparency: rgba(240, 240, 240, 0.287);
	--transparency-2: #28283ebb;
	--transparency-3: #28283e2f;
	--serif: "Fraunces", serif;
	--sans: Quicksand, sans-serif;
	--deco-value: 0.2rem;
	--tiny-value: 0.5rem;
	--xs-value: 0.7rem;
	--small-value: 0.9rem;
	--base-value: 1rem;
	--medium-value: 1.5rem;
	--large-value: 3.3rem;
	--gradient: linear-gradient(
		55deg,
		hsl(240deg 29% 52%) 0%,
		hsl(249deg 27% 57%) 26%,
		hsl(259deg 25% 62%) 39%,
		hsl(274deg 21% 67%) 50%,
		hsl(305deg 17% 72%) 61%,
		hsl(342deg 28% 81%) 74%,
		hsl(10deg 61% 88%) 100%
	);
}

[data-theme="dark"] {
	--spacecadet: #e7dada;
	--lavender: #1b1b29;
	--mirtilo: #d9d9ff;
	--green: #4bd391;
	--transparency: #1d1d2ebb;
	--transparency-2: rgba(240, 240, 240, 0.72);
	--gradient: linear-gradient(
		55deg,
		hsl(240deg 29% 52%) 0%,
		hsl(240deg 26% 46%) 26%,
		hsl(240deg 26% 41%) 39%,
		hsl(240deg 25% 35%) 50%,
		hsl(240deg 24% 30%) 61%,
		hsl(240deg 23% 25%) 74%,
		hsl(240deg 22% 20%) 100%
	);
	--redsalsa: #e8aea2; /*melon*/
	--mirtilo: #7070c7;
}

body {
	background-image: var(--gradient);
	background-size: cover;
	background-attachment: fixed;
	font: 500 var(--small-value) / 1.5 var(--sans);
	color: var(--spacecadet);
	text-rendering: optimizeSpeed;
	word-break: break-word;
	overflow-wrap: break-word;
}

/*container layout*/

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: var(--base-value);
}

main {
	padding: var(--medium-value) var(--large-value);
	margin-block-start: var(--tiny-value);
	text-align: center;
}

nav {
	margin: -1rem -3.5rem 0 0;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--large-value) auto var(--tiny-value) auto;
	max-width: 65ch;
}

.filter-buttons {
	width: 100%;
	max-width: 65ch;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: var(--small-value) auto;
}

.clear-button {
	margin-block: var(--small-value);
	margin-inline: auto;
	display: flex;
}

.inputTasks {
	display: grid;
	grid-template-columns: 1fr minmax(50px, auto);
	margin: var(--tiny-value) 0 var(--base-value) 0;
	gap: var(--tiny-value);
}

.tooltip {
	display: none;
	position: absolute;
	width: max-content;
	right: var(--large-value);
	top: var(--tiny-value);
	z-index: 1;
	text-transform: capitalize;
	font-size: var(--xs-value);
}

/* container styling */

.action_button {
	background-color: var(--transparency);
	color: var(--mirtilo);
	padding: var(--deco-value) var(--tiny-value);
	border-radius: var(--tiny-value);
	font-size: 0.8rem;
}

.iconNight {
	background-color: rgba(255, 255, 255, 0);
	color: var(--transparency-2);
	position: relative;
}

.main_style {
	flex: 1 1 auto;
	border-radius: var(--tiny-value);
	box-shadow: var(--base-value) var(--base-value) 10rem var(--mirtilo);
}

.alerts {
	display: flex;
	align-items: center;
	gap: var(--tiny-value);
	width: fit-content;
	margin: var(--medium-value) auto;
	font-size: var(--small-value);
}

.alerts_style,
.tooltip_style {
	padding: var(--tiny-value);
	border-radius: var(--tiny-value);
	border: var(--lavender) 1px solid;
	background-color: var(--transparency);
	color: var(--spacecadet);
}

.alerts_danger {
	background-color: var(--redsalsa);
}

/*icons*/
/* 
.ph-clock-fill,
.ph-x-square-fill {
	display: inline;
	color: var(--mirtilo);
	font-size: 0.9rem;
	padding-bottom: 0.15rem;
	vertical-align: middle;
}

.ph-x-square-fill {
	color: var(--redsalsa);
}

.ph-trash-fill,
.ph-pencil-bold {
	margin: 0.2rem;
	content: "\fe30";
	font: 1.2rem "Phosphor";
	vertical-align: middle;
	color: var(--redsalsa);
	transition: ease 300ms;
	background-color: var(--lavender);
	padding: 0.2rem;
	border-radius: var(--tiny-value);
} */

/* text elements */

h1 {
	text-decoration: underline var(--deco-value) var(--mirtilo);
	font: 700 var(--large-value) var(--serif);
}

ul {
	position: relative;
	list-style: none;
	text-align: left;
}

li {
	background-color: var(--transparency);
	padding: var(--tiny-value);
	border-radius: var(--tiny-value);
	display: grid;
	grid-template-columns: 5fr var(--base-value);
	gap: var(--tiny-value);
}

li:hover {
	box-shadow: 0 0 var(--medium-value) var(--transparency);
	transition: 300ms ease;
}

.task-actions {
	grid-row: span 2;
	margin: auto;
}

.time {
	display: flex;
	align-items: center;
	gap: var(--deco-value);
	border-radius: var(--tiny-value);
	font-size: var(--xs-value);
	color: var(--mirtilo);
	background: var(--transparency);
}

/* input */
input {
	accent-color: var(--mirtilo);
}

input[type="text"] {
	padding: var(--tiny-value);
	border: var(--mirtilo) 0.1rem solid;
	background-color: var(--transparency);
	border-radius: var(--tiny-value);
	color: var(--spacecadet);
}

input[type="checkbox"] {
	width: var(--small-value);
	height: var(--small-value);
	vertical-align: middle;
	accent-color: var(--green);
	margin-inline-end: var(--small-value);
}

input[type="text"]:focus {
	background-color: var(--transparency-2);
	color: var(--lavender);
}

label {
	width: 100%;
	cursor: pointer;
}

/* button */
button {
	padding: var(--tiny-value) var(--medium-value);
	border-radius: var(--tiny-value);
	border: none;
	background-color: var(--mirtilo);
	color: var(--lavender);
	transition: 300ms ease;
	font-weight: 600;
}

nav button {
	padding: var(--tiny-value) var(--medium-value);
}

/* hover */

button:hover:enabled {
	background-color: var(--spacecadet);
	color: var(--lavender);
	border: none;
	cursor: pointer;
}

nav button:hover:enabled {
	color: var(--redsalsa);
	background-color: rgba(255, 255, 255, 0);
}

nav button:disabled {
	opacity: 25%;
}

.addTasks button:hover {
	box-shadow: -1rem -1rem 8rem var(--mirtilo);
	cursor: pointer;
	transform: translateY(-0.1rem);
}

/*utilities*/

.flow > * + * {
	margin-block-start: var(--small-value);
}

.complete {
	border: var(--green) 1px solid;
}

.complete label {
	text-decoration: line-through;
}

.text-red {
	color: var(--redsalsa);
}

@media screen and (max-width: 600px) {
	.wrapper {
		margin: var(--tiny-value);
	}

	nav {
		margin: auto;
	}

	main {
		padding: var(--medium-value);
	}

	h1 {
		font-size: 3rem;
	}
}

@media screen and (max-width: 489px) {
	h1 {
		font-size: 2.5rem;
	}
	nav {
		margin: -0.7rem -2rem;
	}
	.inputTasks {
		grid-template-columns: 1fr;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		scroll-behavior: auto;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
